{% extends 'base/main.html' %}
{% block content %}


<h1>{{request.user}}'s categories</h1>
<a href="{% url 'create-category' %}">Add Category</a>
<a href="{% url 'tasks' %}">Tasks</a>

<form method="GET">
    <input type="text" name="search" value="{{search_input}}">
    <input type="submit" value="Search">
</form>


    
    {% for category in categories %}
        <div class="card" style="width: 18rem; padding: 10px; margin: 10px;">
            <div class="card-body">
              <h5 class="card-title">{{category.Header}}</h5>
              <a class="btn btn-primary" href="{% url 'category' category.id %}" style="margin: 10px;">View</a>
            <a class="btn btn-primary" href="{% url 'update-category' category.id %}" style="margin: 10px;">Edit</a>
            <a class="btn btn-primary" href="{% url 'delete-category' category.id %}" style="margin: 10px;">Delete</a>
            </div>
          </div>
    {% empty %}
    <h3>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">No Categories</h5>
            </div>
          </div>
    </h3>
    {% endfor %}


{% endblock content %}