{% extends 'base/main.html' %}

{% block content%}
<div style="background-color: #191b44; border-radius: 10px;">
<div>
<h1 style="text-align: center; color: white; font-family: 'Inter', sans-serif; padding: 5px;">
    Hello {{request.user}}, you have <i>{{count}}</i> task(s) remaining
</h1>
</div>
</div>

<a class="btn btn-primary" href="{% url 'categories' %}">Add Category</a>
<a class="btn btn-primary" href="{% url 'create-task' %}" style="margin: 10px;">Add Task</a>

<div class="input-group">
<form style="" method="GET">
    <input style="margin: 10px;" class="form-control form-control-lg"placeholder="Search" aria-label="Search" aria-describedby="search-addon" type="text" name="search" value="{{search_input}}"/>
    <input style="margin: 10px;" class="btn btn-primary" type="submit" value="Search">
</form>
</div>
<div class="container-fluid" style="font-family: 'Inter', sans-serif; display: grid; grid">
    <div class="row">
    {% for task in tasks %}
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 350px; min-width: 350px; margin: 10px;">
                {% if task.complete %}
                <div class="card-header"><h3><s><a href="{% url 'task' task.id %}">{{task.title}}</a></s></h3></div>
                {% else %}
                <div class="card-header"><h3><a href="{% url 'task' task.id %}">{{task.title}}</a></h3></div>
                {% endif %}
                <div class="card-body">
                    {% if task.complete %}
                    <h5 class="card-title"><span class="badge rounded-pill bg-success">Completed</span></h5>
                    {% else %}
                  <h5 class="card-title"><span class="badge rounded-pill bg-warning text-dark">{{task.Task_Category.Header}}</span></h5>
                  {% endif %}
                  <p class="card-text">{{task.description}}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{% url 'task' task.id %}" style="margin: 10px;">View</a>
                    <a class="btn btn-primary" href="{% url 'update-task' task.id %}" style="margin: 10px;">Edit</a>
                    <a class="btn btn-primary" href="{% url 'delete-task' task.id %}" style="margin: 10px;">Delete</a>
                </div>
            </div>
        </div>
    
    
   
    {% empty %}
    <div class="alert alert-dark" role="alert" style="max-width: 18rem; background-color: #2a2734; color: white;">
        No Tasks Created
      </div>
    {% endfor %}
        </div>
</div>
{% endblock content%}

