{% extends 'base/main.html' %}

{% block content%}
<div class="card" style="background-color: #191b44;">
<div class="card-header">
<h1 class="card-title" style="text-align: center; color: white; font-family: 'Inter', sans-serif;">
    Tasks for {{request.user}}
</h1>
</div>
</div>

<a class="btn btn-primary" href="{% url 'categories' %}">Add Category</a>
<a class="btn btn-primary" href="{% url 'create-task' %}" style="margin: 10px;">Add Task</a>

<div class="input-group">
<form style="" method="GET">
    <input style="margin: 10px;" class="form-control form-control-lg"placeholder="Search" aria-label="Search" aria-describedby="search-addon" type="text" name="search" value="{{search_input}}"/>
    <input style="margin: 10px;" class="btn btn-primary" type="submit" value="Search">
</form>
</div>
<div class="container-fluid" style="font-family: 'Inter', sans-serif; display: grid; grid">
    <div class="row">
    {% for task in tasks %}
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"><h3>{{task.title}}</h3></div>
                <div class="card-body">
                  <h5 class="card-title"><span class="badge rounded-pill bg-warning text-dark">{{task.Task_Category.Header}}</span></h5>
                  <p class="card-text">{{task.description}}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{% url 'task' task.id %}" style="margin: 10px;">View</a>
                    <a class="btn btn-primary" href="{% url 'update-task' task.id %}" style="margin: 10px;">Edit</a>
                    <a class="btn btn-primary" href="{% url 'delete-task' task.id %}" style="margin: 10px;">Delete</a>
                </div>
            </div>
        </div>
    {% empty %}
    <h3>No Items</h3>
    {% endfor %}
        </div>
</div>
{% endblock content%}

